* {
    margin: 0%;
    padding: 0%;
}
html{
    scroll-behavior: smooth;
}
.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    cursor: pointer;
    
}

.logo {
    padding: 15px;
    width: 3%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: black; */
}

.logo img {
    align-items: center;
    justify-content: center;
    width: 100%;
    border: 3px solid rgba(238, 233, 233, 0.364);
    border-radius: 62px;
}

.nav-list {
    width: 60%;
    /* background-color: black; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-list li {
    list-style: none;
    padding: 5px 60px;
    font-size: 20px;
}

.nav-list li a {
    text-decoration: none;
    color: rgb(184, 247, 247);
}

.rightnav {
    /* background-color: rgb(199, 22, 22); */
    width: 30%;
    text-align: right;
}

.nav-list li a:hover {
    color: rgb(149, 210, 210);
}

#search {
    align-items: center;
    padding: 5px;
    font-size: 15px;
    border: 3px solid rgb(225, 161, 224);
    border-radius: 39px;
    width: 40%;
}

.background {
    background: rgba(0, 0, 0, 0.7) url(/img/background.jpg);
    background-size: cover;
    background-blend-mode: darken;
}

.firstsection {
    height: 100vh;
}

.box-main {
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    font-family: 'Courier New', Courier, monospace;
    max-width: 50%;
    margin: auto;
    height: 80%;
}

.firsthalf {
    width: 80%;
}

.secondhalf {
    width: 30%;
}

.secondhalf img {
    width: 80%;
    justify-content: center;
    align-items: center;
    border: 2px solid wheat;
    border-radius: 150px;
    display: block;
    margin: auto;
}

.text-big {
    font-size: 35px;
    text-align: center;

}

.text-small {
    font-size: 15px;
}

.btn {
    margin: 5px 3px;
    padding: 3px 10px;
    border: 2px solid rgb(243, 238, 238);
    border-radius: 20px;
    font-size: 15px;
    background: none;
    cursor: pointer;
    color: azure;
}
.btns{
    margin: 5px 3px;
    padding: 3px 10px;
    border: 2px solid rgb(243, 238, 238);
    border-radius: 20px;
    font-size: 15px;
    background: none;
    cursor: pointer;
    color: azure;
}
.section {
    display: flex;
    height: 500%;
    align-items: center;
    justify-content: center;
    max-width: 1135px;
    margin: auto;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.left {
    flex-direction: row-reverse;
}

.paras {
    padding: 0px 10px;
}

.thumbnail img {
    width: 250px;
}

.contact {
    background-color: rgb(80 77 77);
    height: 65vh;
}

.text-center {
    text-align: center;
}

.form {
    max-width: 200px;
    margin: auto;
}

.form input {
    margin: 30px 0;
    width: 100%;
    font-size: 19px;
    border: 2px solid black;
    border-radius: 12px;
    padding: 4px 3px;
}

.txt-footer {
    align-items: center;
    color: white;
    text-align: center;
    padding: 20px;
    background-color: black;
}
.burger{
    position: absolute;
    cursor: pointer;
    right: 5%;
    top:15px ;
    opacity: 0;
}
.line{
    width: 33px;
    margin: 5px 3px;
    height: 4px;
    background-color: white;
}
@media only screen and (max-width:1360px) {
    .nav-list {
        flex-direction: column;
    }

    .navbar {
        flex-direction: column;
        transition: all 0.7s ease-out;
        height: 250px;
    }

    .rightnav {
        text-align: center;
    }

    #search {
        font-size: 10px;
        width: 100%;
        opacity: 0;
    }
    .burger{
        display: block;
        opacity: 100%;
    }
    .h-nav-resp{
        height: 72px;
    }
    .v-class-resp{
        opacity: 0;
    }
    .box-main{
        flex-direction: column-reverse;
        max-width: 100%;
    }
    .section{
        flex-direction: column-reverse;
    }
    .text-big{
        text-align: center;
    }
    .text-small{
        text-align: center;
    }
    .text-center{
        text-align: center;
    }
    .btn{
        text-align: center;
        opacity: 0;
    }
    .buttons{
        text-align: center;
        justify-content: center;
    }
    .paras{
        padding: 0%;
    }
    .logo{
        width: 10%;
    }
}
